/* Write your CSS Here. */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {

}

#main-container {
  display: flex;
  justify-content: center;
}

img {
  width: 200px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left {
  align-self: flex-end;
  margin-right: 50px;
}

#middle {

}

#middle header {
  margin-bottom: 50px;
}

#content {

}

#middle footer {
  text-align: center;
  margin-top: 50px;
}

#middle footer p {
  font-size: x-small;
}

#right {
  align-self: flex-end;
}

h1 {
  color: green;
  text-align: center;
}


/*-----------------------------Pokedex CSS-------------------------------------- */



.pokedex {
  display: flex;
  justify-content: center;
  font-family: 'Comic Neue', serif;
  
}

/* left panel */
.left-panel {
  background-color: #b30000;
  width: 555px;
  height: 625px;
  box-shadow: 1px 1px 1px 1px black;
  display: flex;
  border-radius: 8px;
  border-end-end-radius: 20px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 8px;
  padding-right: 8px;
  border-radius: 6px;
}



/* start of top left panel */
.left-top-container {
  display: flex;
  
}

.left-top {
  display: flex;
  justify-content: flex-start;
  height: 125px;
  border-bottom: 6px double black;
}

.large-blue-light {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: skyblue;
  border: 6px solid white;
  box-shadow: 1px 1px 1px 1px black;
  margin-top: 6px;
  margin-left: 6px;
}

.left-top .medium-red-light {

}

.medium-red-light {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff3333;
  box-shadow: 2px 2px black;
  margin-top: 6px;
  margin-left: 6px;
}

.medium-yellow-light {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e6e600;
  box-shadow: 2px 2px black;
  margin-top: 6px;
  margin-left: 4px;
}

.left-top .medium-green-light {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #29a329;
  box-shadow: 2px 2px black;
  margin-top: 6px;
  margin-left: 4px;

}

.medium-green-light {

}

.container1 {
  width: 80px;
  height: 60px;
  border-right: 8px double black;
  rotate: 45deg;
  margin-left: -46px;
  margin-top: 46px;
}

.container2 {
  height: 80px;
  width: 352px;
  border-bottom: 8px double black;
  margin-left: 6px;
  margin-top: 5px;
}
/* end of top left panel */


.left-screen-and-center {
  display: flex;
  padding-left: 8px;
 
}

/* start of left bottom */

.left-bottom-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
  width: 500px;
  height: 475px;
  border-radius: 8px;
  margin-right: 8px;
  border-end-end-radius: 45px;
  margin-top: 15px;
}

/* start of screen */
.left-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 8px;

}

.screen-border {
  border-top: 28px solid grey;
  border-left: 15px solid grey;
  border-right: 15px solid grey;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-end-start-radius: 65px;
  border-end-end-radius: 14px;
  box-shadow: 1px 1px 1px 1px black;
}

.screen-top {
  display: flex;
  justify-content: center;
}

.screen-top .small-red-light {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff3333;
  margin: -16px 6px;
  box-shadow: 2px 2px black;
}

.small-red-light {
  
}

.image-screen {
  width: inherit;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-arrow {
  border-left: 10px solid  transparent;
  border-right: 10px solid  transparent;
  border-bottom: 15px solid black;
}

.arrow-image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-arrow {
  border-top: 10px solid  transparent;
  border-bottom: 10px solid  transparent;
  border-right: 15px solid black;
}

.right-arrow {
  border-top: 10px solid  transparent;
  border-bottom: 10px solid  transparent;
  border-left: 15px solid black;
}

.bottom-arrow {
  border-left: 10px solid  transparent;
  border-right: 10px solid  transparent;
  border-top: 15px solid black;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.image {
  
}

.screen-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  border-end-start-radius: 45px;
}

.medium-red-button {
  
}

.sound-button {
  border-radius: 50%;
  background-color: red;
  font-size: 16.5px;
  margin-left: 36px;
  box-shadow: 1px 1px 1px 1px black;
}

.speakers {

}

.speakers div {
  width: 145px;
  height: 8px;
  background-color: black;
  margin-bottom: 4px;
  border-radius: 8px;
  box-shadow: 1px 1px #a6a6a6;
}

.speakers div:nth-child(1) {
  margin-top: 8px;
}
/* end of screen */

/* start of left buttons */
.left-buttons {
  display: flex;
  justify-content: space-between;
  max-height: 400px;

}

.evolve-button {
  border-radius: 50%;
  background-color: blue;
  font-size: larger;
  color: white;
  box-shadow: 1px 1px 1px 1px black;
  margin-left: 38px;

}

.modes-and-display {

}

.modes-and-dislpay .darkmode-button {
  
}

.modes-and-dislpay .lightmode-button {

}

.darkmode-button {
  background-color: #0d1931;
  color: lightgrey;
  border-radius: 10px;
  font-size: x-small;
  box-shadow: 1px 1px 1px 1px black;
}

.lightmode-button {
  background-color: #EAEAE5;
  border-radius: 10px;
  font-size: x-small;
  box-shadow: 1px 1px 1px 1px black;
  
}

.species-display {
  background-color: white;
  margin-top: 28px;
  width: 145px;
  height: 65px;
  border: 2.6px outset black;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.direction-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 28px;
}

.direction-up {
  box-shadow: 2px 2px 2px 2px black;
}

.up {
  border-left: 15px solid  transparent;
  border-right: 15px solid  transparent;
  border-bottom: 20px solid darkgrey;
}

.left-right-center {
  display: flex;
  align-items: center;
}

.direction-left {
  box-shadow: 2px 2px 2px 2px black;
}

.left {
  /* 10,10,15 */
  border-top: 15px solid  transparent;
  border-bottom: 15px solid  transparent;
  border-right: 20px solid darkgrey;
}

.center-piece {
  display: flex;
  width: 35px;
  height: 38px;
  background-color: white;
  justify-content: center;
  align-items: center;

}

.center-circle {
  border-radius: 50%;
  border: 10px ridge darkgrey;
}

.direction-right {
  box-shadow: 2px 2px 2px 2px black;
}

.right {
  border-top: 15px solid  transparent;
  border-bottom: 15px solid  transparent;
  border-left: 20px solid darkgrey;
}

.direction-down {
  box-shadow: 2px 2px 2px 2px black;
}

.down {
  border-left: 15px solid  transparent;
  border-right: 15px solid  transparent;
  border-top: 20px solid darkgrey;
}

/* end of left buttons */
/* end of left panel */

/* start of center */
.center-container {
  width: 42px;
  height: 500px;
  background-color: #b30000;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 12px;
  margin-top: -20px;
}

.top-block {
  height: 10%;
  border: 2px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-radius: 4px;
}

.center-block {
  height: 80%;
  border: 2px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-radius: 4px;

}

.bottom-block {
  height: 10%;
  border: 2px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-radius: 4px;
}
/* end of center */

.right-side {

}

/* start of right panel */
.right-panel {
  background-color: #b30000;
  width: 555px;
  height: 625px;
  box-shadow: 2px 2px black;
  margin-left: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;

}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  /* align-items: center; */
}

.top-right-container {
  background-color: white;
  height: 120px;
  position: absolute;
  margin-left: 4px;
  width: 558px;
}

.right-top {
 display: flex;
}

.top-container1 {
  width: 348px;
  height: 52px;
  background-color: #b30000;
  border-top: 8px double black;
  margin-top: 75px;
  margin-left: 1px;
  border-top-left-radius: 2px;

}

.top-container2 {
  width: 80px;
  height: 60px;
  background-color: #b30000;
  rotate: -45deg;
  margin-right: 5px;
  margin-left: -48px;
  margin-top: 96px; 
  border-right: 6px double black;

}

.top-container3 {
  height: 8px;
  width: 172px;
  background-color: #b30000;
  border-bottom: 6px double black;
  margin-top: 115px;
}

.info-screen {
  width: 350px;
  height: 125px;
  background-color: white;
  margin-top: 175px;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 1px 1px 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.name-area {
  font-size: x-large;
  font-weight: bolder;
}

.scroll-arrows-and-text {
  display: flex;

}

.left-scroll-arrow {

}

.info-text-area {
  
}

.right-scroll-arrow {

}

.blue-button-container {
  display: inline;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.blue-button-collection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blue-button {
  background-color: blue;
  color: white;
  width: 50px;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 4px;
}

.lights-and-modes {
  display: flex;
  justify-content: space-around;
}

.lights {
  display: flex;
}

.lights .small-red-light {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff3333;
  box-shadow: 2px 2px black;
  margin-right: 8px;
}

.small-green-light {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #29a329;
  box-shadow: 2px 2px black;
}

.modes {
  /* margin-left: 150px; */
}

.modes .darkmode-button {

}

.modes .lightmode-button {

}


.nav-and-search {
  display: flex;
  justify-content: space-between;
}

.two-way-direction {
  display: flex;
  margin-right: 20px;
}

.left-button {
  box-shadow: 1px 1px 1px 1px black;

}

.right-button {
  box-shadow: 1px 1px 1px 1px black;
}

.search {
  display: flex;
  justify-content: space-between;
}

label, input {
  display: block;
}

#search-box {
  margin-left: 100px;
  margin-top: 8px;
  border-radius: 12px;
}

#search-box:placeholder-shown {
  
}

label {
  font-weight: bolder;
  text-shadow: .4px .4px .4px rgb(29, 29, 29);
  /* font-size: 16px; */
}

.search-button {
  box-shadow: 1px 1px 1px 1px black;
  margin-left: 18px;
  border-radius: 50%;
}


.type-display {
  display: flex;
  justify-content: space-around;
}

.type1 {
  width: 125px;
  height: 45px;
  background-color: white;
  border: 2.6px outset black;
  border-radius: 6px;
  /* margin-right: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.type2 {
  width: 125px;
  height: 45px;
  background-color: white;
  margin-bottom: 20px;
  border: 2.6px outset black;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
/* end of right panel */

.species-display, .type-display {
  font-weight: bolder;
  font-size: larger;
}

/* ----------------------------End of Pokedex-------------------------------- */

/* event listener CSS */

.light {
  background-color:  #EAEAE5;
}

.dark {
  /* #1a3365 #1F1B24*/
  background-color: #0d1931; 
  color: whitesmoke;
}

.normal {
  background-color: #AA9;
}

.fire {
  background-color: #F42;
}

.water {
  background-color: #39F;

}

.electric {
  background-color: #FC3;

}

.grass {
  background-color: #7C5;

}

.ice {
  background-color: #6CF;

}

.fighting {
  background-color: #B54;

}

.poison {
  background-color: #A59;

}

.ground{
  background-color: #DB5;

}
.flying {
  background-color: #89F;

}

.psychic {
  background-color: #F59;

}

.bug {
  background-color: #AB2;

}

.rock{
  background-color: #BA6;

}

.ghost{
  background-color: #66B;

}

.dragon {
  background-color: #76E;

}

.ndark {
  background-color: #754;

}

.steel {
  background-color: #AAB;

}

.fairy {
  background-color: #E9E;

}

/* ----- Shake Animation --------------------------------- */
.shake2 {
  animation: shake2 0.2s;
}

.shake1 {
  animation: shake1 0.2s;
}

@keyframes shake1 {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shake2 {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}